extends layout

block content
   meta(charset='utf-8')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   link(rel='stylesheet', href="../stylesheets/bootstrap.min.css")
   link(rel="stylesheet", href="../stylesheets/pharmacyInventory.css")
   script(src="/javascripts/jquery.min.js")
   script(src="/javascripts/bootstrap.min.js")
         input(type="text", class="search form-control", placeholder="Search")


   //div(id="searchBox")
   div(id="logo")
   div(id="NameBox")
   //div(id="searchBox", class="form-group pull-right")

   div(id="navbarbox")
     div(id="inventoryBox")
       form(action="/pharmacy/inventory",method="get")
          input(type="submit",value="Inventory",id="button")
     div(id="notificationBox")
       form(action="/pharmacy/notification",method="get")
          input(type="submit",value="Notification",id="button")
     div(id="profileBox")   
       form(action="/pharmacy/profile",method="get")
          input(type="submit",value="Profile",id="button")
   
   div(id="addButton", class="form-group pull-right")
       form(action='/pharmacy/addnewmedicinedata', method='get')
          input(type="submit", class="btn btn-outline-primary btn-sm m-0 waves-effect" ,value="ADD")


   div(id="tableBox")
        table(class="table table-responsive-md table-bordered btn-table results")
            thead(class="thead-dark")
               tr
                 th Number
                 th Generic Name
                 th Trade Name
                 th Dosage
                 th Amount
                 th Description
                 th Edit
                 th Remove
            tbody
              -for(var i=0; i< MedicineData.length ; ++i){

               tr
                  td=1+i
                  td=MedicineData[i].GenericName
                  td=MedicineData[i].TradeName
                  td=MedicineData[i].Dosage
                  td=MedicineData[i].Amount
                  td=MedicineData[i].Discription
                  td
                     form(action='/pharmacy/editmedicinedata', method='get')
                       input(type="submit", class="btn btn-outline-primary btn-sm m-0 waves-effect" ,value="edit")
                       
                  td 
                     form(action='/pharmacy/removemedicinedata', method='get')
                       input(type="submit", class="btn btn-outline-primary btn-sm m-0 waves-effect" ,value="Remove")
               -}


   script(type="text/javascript", src="/DataTables-1.10.18/js/jquery.dataTables.min.js")
   script(type="text/javascript", src="/DataTables-1.10.18/js/dataTables.bootstrap.min.js")
   script(type="text/javascript").
    $(document).ready(function(){
    $(".table").DataTable({
    "ordering":true
    });
    });  
   
